<h1 style="color: red", align="center">THIS IS ABOUT PAGE </h1>
<%= link_to 'Home', root_path %>
<html>
<body>

<h2 style="background-color:Tomato">Tomato</h2>
<h2 style="background-color:Orange">Orange</h2>
<h2 style="background-color:DodgerBlue">DodgerBlue</h2>
<h2 style="background-color:MediumSeaGreen">MediumSeaGreen</h2>
<h2 style="background-color:Gray">Gray</h2>
<h2 style="background-color:SlateBlue">SlateBlue</h2>
<h2 style="background-color:Violet">Violet</h2>
<h2 style="background-color:LightGray">LightGray</h2>

</body>
</html>
