<h1 style="color: red", align="center"> welcome to ruby on rails</h1>

<%= link_to 'Article', articles_path %>

<html>
<head>
<title>BLOG</title>
</head>
<body>

<h1 style="color: red", align="center">WELCOME TO THE BLOG</h1>
<p style="color: red", align="center">THIS IS MY RUBY ON RAILS APP AND I AM VERY HAPPY TO CREAT IT</p>


<%= link_to 'About', about_path %>

</body>
</html>