<h1 style="color: red", align="center"> Welcome To Ruby On Rails</h1>


<html>
<head>
<title>BLOG</title>
</head>
<body>
<p>
<div class="center jumbotron">
  <h1 class="display-3"></h1>
    <a style="background-color: black" class="btn btn-lg btn-xlarge" href="#" role="button">Signup</a>
  <p class="lead">
  </p>
</div>
</p>

<h1 align="center"><%= link_to "WELCOME TO THE BLOG", articles_path, class: "btn btn-danger btn-lg btn-xlarge"%></h1>
<p style="color: red", align="center">THIS IS MY RUBY ON RAILS APP AND I AM VERY HAPPY TO CREAT IT</p>





</body>
</html>